/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#bio-content .section-content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#bio-content .section-content img {
	float: left;
	width: 267px;
	height: 355px;
	padding-right: 20px;
}


/* tablets */
@media screen and (max-width: 980px) {

	#bio-content .section-content {
		margin-left: 10%;
		margin-right: 10%;
	}

}

