/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#bio #bio-content {
	position: relative;
	display: flex;
	margin-left: 15vw;
	margin-right: 15vw;
}

#bio #bio-content .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-left: auto;
}

#bio #bio-content img {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	width: 25vw;
}


/* tablets */
@media screen and (max-width: 980px) {

	#bio #bio-content {
		display: inline;
		margin-left: 0;
		margin-right: 0;
	}

	#bio #bio-content .section-content {
		margin-left: 10%;
		margin-right: 10%;
	}

	#bio #bio-content img {
		padding-right: 0;
		padding-bottom: 20px;
		width: 40vw;
	}

}


/* smartphones */
@media screen and (max-width: 500px) {

	#bio #bio-content .section-content {
		margin-left: 5%;
		margin-right: 5%;
	}

	#bio #bio-content img {
		width: 70vw;
	}

}

