/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

.bootcamp-recordings .container {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
}

.bootcamp-recordings .container figure {
	display: table;
}

.bootcamp-recordings .container figcaption {
	display: table-caption;
	caption-side: bottom;
	color: white;
	font-size: 22px;
	text-align: center;
}

.bootcamp-recordings .container figure {
	margin-left: auto;
	margin-right: auto;
}

.bootcamp-recordings .container .youtube-wrapper {
/*.youtube-wrapper {*/
	position: relative;
	padding-bottom: 56.25%; /* YouTube's 16:9 aspect ratio */
	width: 35vw; /* aligns with a 10% margin */
	justify-content: center;
}

.bootcamp-recordings .container .youtube-wrapper iframe {
/*.youtube-wrapper iframe {*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* tablets */
@media screen and (max-width: 980px) {
	
	.bootcamp-recordings .container {
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	.bootcamp-recordings .container .youtube-wrapper {
	/*.youtube-wrapper {*/
		width: 90vw;
	}

	.bootcamp-recordings .container figcaption {
		font-size: 30px;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	.bootcamp-recordings .container figcaption {
		font-size: 38px;
	}

}

