/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

.collaborators {
	margin-bottom: 7vh;
}

.collaborators .groupname {
	color: #a1a1a1;
	font-family: "Raleway";
	font-size: 30px;
	/*font-style: italic;*/
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 25px;
	padding-bottom: 25px;
}

.collaborators .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-left: 10vw;
	margin-right: 10vw;
}

.collaborators .container div.person {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 250px;
	display: table;
}

.collaborators .container .circular-landscape {
	display: inline-block;
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #DD0000;
}

.collaborators .container .circular-landscape img {
	width: 250px;
	height: auto;
}

.collaborators .container .circular-landscape img.dfeuillet {
	object-position: 0px -40px;
}

.collaborators .container .circular-landscape img.rrampalli {
	object-position: -25px 0px;
	height: 250px;
	width: auto;
}

.collaborators .container .circular-landscape img.fvincenzo {
	object-position: 0px -20px;
}

.collaborators .container .circular-landscape img.abredall {
	object-position: -50px -50px;
	width: 260px;
	height: 480px;
}

.collaborators .container .circular-landscape img.dtessmer {
	object-position: -50px -100px;
	width: 400px;
}

.collaborators .container .circular-landscape img.dboyea {
	object-position: -50px 0px;
	width: 360px;
	height: 338px;
}

.collaborators .container .circular-landscape img.mweller {
	object-position: 0px -75px;
}

.collaborators .container .circular-landscape img.ckochanek {
	object-position: 0px -20px;
}

.collaborators .container div.person .section-content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* smartphones */
@media screen and (max-width: 500px) {

	.collaborators .groupname {
		font-size: 45px;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.collaborators .container div.person {
		padding-left: 0px;
		padding-right: 0px;
		max-width: 400px;
	}

	.collaborators .container .circular-landscape {
		width: 350px;
		height: 350px;
	}

	.collaborators .container .circular-landscape img {
		width: 350px;
		height: auto;
	}

	.collaborators .container .circular-landscape img.rrampalli {
		height: 350px;
	}

	.collaborators .container .circular-landscape img.dtessmer {
		width: 520px;
	}

	.collaborators .container .circular-landscape img.dboyea {
		object-position: -75px 0px;
		width: 480px;
		height: 451px;
	}

	.collaborators .container .circular-landscape img.abredall {
		width: 450px;
		height: 600px;
	}

	.collaborators .container .section-content {
		font-size: 45px;
	}

}

