/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#comptools {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)), url(../images/circuitry.jpeg);
}

#comptools #vice .vice-acronym {
	text-align: center;
	color: white;
	font-size: 38px;
	margin-left: 10%;
	margin-right: 10%;
}

#comptools .vice-logo .container {
	display: grid;
	justify-content: center;
}

#comptools .vice-logo .container img {
	height: 142px;
	width: 401px;
}

#comptools .vice-links .container {
	display: grid;
	margin-left: 20%;
	margin-right: 20%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
}

#comptools .vice-links .container div {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#comptools .vice-links .container div figure img {
	height: 100px;
	width: 100px;
}

#comptools .vice-links .container div figure figcaption {
	min-width: 200px;
}

#comptools .vice-link-label {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/* tablets */
@media screen and (max-width: 980px) {

	#comptools #vice .vice-acronym {
		font-size: 55px;
	}

	#comptools .vice-logo .container img {
		height: 177.5px;
		width: 501.25px;
	}

	#comptools .vice-links .container {
		margin-left: 5%;
		margin-right: 5%;
	}

	#comptools .vice-links .container div figure figcaption {
		min-width: 100px;
	}

	#comptools .vice-link-label {
		font-size: 40px;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	#comptools .vice-links .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	#comptools .vice-links .container div figure img {
		height: 200px;
		width: 200px;
	}

	#comptools .vice-links .container div figure figcaption {
		min-width: 200px;
	}

	#comptools .vice-link-label {
		font-size: 60px;
	}

}

