/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#dei .use-background-image {
	background-size: 30vw;
}

#dei #polaris .polaris-logo {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 50%;
}

#dei #polaris #mentorship-course {
	position: relative;
	display: flex;
	margin-left: 20vw; /* margins mimic base .section-content class */
	margin-right: 20vw;
}

#dei #polaris #mentorship-course .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#dei #polaris #mentorship-course img.polaris-roundel.bottom {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 50px;
	height: 20vh;
}

#dei #polaris #mentorship-course img.polaris-roundel.top {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: none;
}

#dei #polaris #ursa {
	position: relative;
	display: flex;
	margin-left: 20vw; /* margins mimic base .section-content class */
	margin-right: 20vw;
}

#dei #polaris #ursa .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#dei #polaris #ursa img.ursa-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	height: 20vh;
}

/* tablets */
@media screen and (max-width: 980px) {

	#dei #polaris .polaris-logo {
		width: 70%;
	}

	#dei #polaris #mentorship-course {
		display: inline;
	}

	#dei #polaris #mentorship-course .section-content {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#dei #polaris #mentorship-course img.polaris-roundel.top {
		display: block;
		width: 50vw;
		margin-left: auto;
		margin-right: auto;
	}

	#dei #polaris #mentorship-course img.polaris-roundel.bottom {
		display: none;
	}

	#dei #polaris #ursa {
		display: inline;
	}

	#dei #polaris #ursa .section-content {
		margin-left: 10vw;
		margin-right: 10vw;       
	}

	#dei #polaris #ursa img.ursa-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-right: 0;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	#dei #polaris .polaris-logo {
		width: 90%;
	}

	#dei #polaris #mentorship-course .polaris-roundel {
		width: 80vw;
	}

	#dei #polaris #ursa .ursa-logo {
		width: 100vw;
	}


}

