/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

footer .section-content {
	text-align: center;
	text-justify: none;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

footer .socials .container {
	display: flex;
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 10px;
	justify-content: center;
}

footer .socials .container a {
	color: white;
	margin-left: 30px;
	margin-right: 30px;
}

footer .socials .container a i {
	font-size: 50px;
}

footer a i {
	color: white;
}

/* tablets */
@media screen and (max-width: 980px) {
	footer .socials .container {
		margin-left: 20%;
		margin-right: 20%;
	}

	footer .socials .container a {
		margin-left: 50px;
		margin-right: 50px;
	}

	footer .socials .container a i {
		font-size: 80px;
	}

	footer .section-content {
		margin-left: 5%;
		margin-right: 5%;
	}
}

