
/*#impacts .section-content {
	text-align: justify;
	text-justify: inter-word;
}*/

#impacts .use-background-image {
	background-size: 30vw;
}

#impacts #polaris .polaris-logo {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 50%;
}

#impacts #polaris #mentorship-course {
	position: relative;
	display: flex;
	margin-left: 20vw; /* margins mimic base .section-content class */
	margin-right: 20vw;
}

#impacts #polaris #mentorship-course .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#impacts #polaris #mentorship-course img.polaris-roundel {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 50px;
	height: 20vh;
}

#impacts #polaris #ursa {
	position: relative;
	display: flex;
	margin-left: 20vw; /* margins mimic base .section-content class */
	margin-right: 20vw;
	/*padding-bottom: 50px;*/
}

#impacts #polaris #ursa .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#impacts #polaris #ursa img.ursa-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	height: 20vh;
/*	display: block;
	float: left;
	padding-right: 50px;
	width: 20vw;
	padding-top: 50px;
	padding-bottom: 50px;*/
}

/* tablets */
@media screen and (max-width: 980px) {

	#impacts #polaris .polaris-logo {
		width: 70%;
	}

	#impacts #polaris #mentorship-course .polaris-roundel {
		width: 50vw;
		float: none;
		padding-left: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	#impacts #polaris #ursa .ursa-logo {
		width: 50vw;
		float: none;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	#impacts #polaris .polaris-logo {
		width: 90%;
	}

	#impacts #polaris #mentorship-course .polaris-roundel {
		width: 80vw;
	}

	#impacts #polaris #ursa .ursa-logo {
		width: 100vw;
	}


}

