/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

html, body {
	height: 100%;
}

html {
	display: table;
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	background: #252525;
	margin: 0px;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

h1, h2, h3, h4, th, td, li {
	color: white;
}

h1, h2, nav {
	text-align: center;
}

a {
	color: #DD0000;
}

table {
	text-align: center;
	display: inline-block;
	white-space: nowrap;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* ----- horizontal divider lines ----- */
span.divider {
	background-color: white;
	display: block;
	margin: 35px 0px;
	width: 50vw;
	height: 3px;
}

span.divider.right {
	margin-left: 62vw;
	margin-right: 30vw;
}

span.divider.center {
	margin-left: auto;
	margin-right: auto;
}

span.divider.shadow {
	box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

span.divider.red {
	background-color: #DD0000;
}

span.divider.grey {
	background-color: #a1a1a1;
}
/* ------------------------------------ */



/* ----- section background colors ----- */
#talks {
	background-color: #000000;
}

#outreach {
	background-color: #000000;
}
/* ------------------------------------- */

.use-background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.section-title {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 5vw;
	margin-right: 5vw;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-content {
	color: white;
	font-size: 22px;
	margin-left: 20%;
	margin-right: 20%;
}

.quotation {
	color: #a1a1a1;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

/* tablets */
@media screen and (max-width: 980px) {

	/* Mobile browsers force fixed background anyway, retain good formatting */
	.use-background-image {
		background-attachment: scroll;
	}

	.section-title {
		font-size: 50px;
	}

	.section-content {
		font-size: 28px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.quotation {
		margin-left: 10%;
		margin-right: 10%;
		font-size: 28px;
	}
}

/*
 * tablets in landscape mode will not render the mobile version of the site,
 * but will still force a fixed background image, so check for this and retain
 * good formatting. Go based on device-height rather than screen-height to
 * prevent this from affecting desktop rendering as well.
 */
@media (max-device-height: 980px) and (orientation: landscape) {

	.use-background-image {
		background-attachment: scroll;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	.section-title {
		font-size: 60px;
	}

	.section-content {
		font-size: 38px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.quotation {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 38px;
	}

}

