/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

@import "navbar.css";
@import "header.css";
@import "research.css";
@import "talks.css";
@import "collaborators.css";
@import "teaching.css";
@import "dei.css";
@import "vita.css";
@import "bio.css";
@import "contact.css";
@import "footer.css";
@import "publications.css";
@import "bootcamp.css";


html, body {
	min-height: 100%;
	min-width: 100%;
	font-family: "Times New Roman";
}

html {
	display: table;
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	background: #252525;
	margin: 0px;
}

h1 {
	font-family: "Helvetica";
}

h2, h3 {
	font-family: "Raleway";
}

nav {
	font-family: "Helvetica";
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2, h3, h4, th, td, li {
	color: white;
}

h1, h2, nav {
	text-align: center;
}

a {
	color: #DD0000;
}

table {
	text-align: center;
	display: inline-block;
	white-space: nowrap;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-family: "Arial";
}

/* ------------- buttons ------------- */
button {
	border: none;
	outline: none;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 25px;
	background-color: #DD0000;
	border-radius: 10px;
	border-bottom: 5px solid #AA0000;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

button:focus {
	background-color: #BB0000;
}

button:hover {
	background-color: #BB0000;
}

button:active {
	background-color: #BB0000;
}

a > button {
	font-family: "Helvetica";
	text-decoration: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

a > button > i {
	padding-right: 5px;
}

a.button {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
/* ----------------------------------- */



/* ----- horizontal divider lines ----- */
span.divider {
	background-color: white;
	display: block;
	/*margin: 35px 0px;*/
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 0;
	margin-right: 0;
	width: 50%;
	height: 3px;
}

span.divider.right {
	margin-left: 62vw;
	margin-right: 30vw;
}

span.divider.center {
	margin-left: auto;
	margin-right: auto;
}

span.divider.shadow {
	box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

span.divider.red {
	background-color: #DD0000;
}

span.divider.grey {
	background-color: #a1a1a1;
}
/* ------------------------------------ */



/* ----- section background colors ----- */
#talks {
	background-color: #000000;
}

#teaching {
	background-color: #000000;
}

#vita {
	background-color: #000000;
}
/* ------------------------------------- */

.use-background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section-title {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 5vw;
	margin-right: 5vw;
	font-size: 55px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-content {
	font-family: "Arial";
	color: white;
	font-size: 22px;
	margin-left: 20vw;
	margin-right: 20vw;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	text-justify: inter-word;
}

.quotation {
	color: #a1a1a1;
	font-family: "Arial";
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

/* Turn on a fixed background image for screens safely larger than tablets */
@media screen and (min-device-width: 1280px) {

	.use-background-image {
		background-attachment: fixed;
	}

}

/* tablets */
@media screen and (max-width: 980px) {

	span.divider {
		width: 60%;
		margin-left: 0;
		margin-right: 0;
	}

	.section-title {
		font-size: 50px;
	}

	button {
		font-size: 30px;
		/*padding: 9px 18px;*/
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 5px solid #AA0000;
		border
	}

	.section-content {
		font-size: 28px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.quotation {
		margin-left: 10%;
		margin-right: 10%;
		font-size: 28px;
	}
}

/* smartphones */
@media screen and (max-width: 500px) {

	span.divider {
		width: 75%;
	}

	button {
		padding: 12px 24px;
		font-size: 35px;
		border-bottom: 6px solid #AA0000;
	}

	.section-title {
		font-size: 60px;
	}

	.section-content {
		font-size: 38px;
		margin-left: 5%;
		margin-right: 5%;
		text-align: left;
	}

	.quotation {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 38px;
	}

}

