/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

@import "navbar.css";
@import "header.css";
@import "research.css";
@import "talks.css";
@import "collaborators.css";
@import "comptools.css";
@import "impacts.css";
@import "bio.css";
@import "contact.css";
@import "footer.css";
@import "publications.css";
@import "bootcamp.css";


html, body {
	min-height: 100%;
	min-width: 100%;
}

html {
	display: table;
	margin: 0px;
	scroll-behavior: smooth;
}

body, button {
	background: #252525;
	margin: 0px;
}

button {
	border: transparent;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

h1, h2, h3, h4, th, td, li {
	color: white;
}

h1, h2, nav {
	text-align: center;
}

a {
	color: #DD0000;
}

table {
	text-align: center;
	display: inline-block;
	white-space: nowrap;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* ----- horizontal divider lines ----- */
span.divider {
	background-color: white;
	display: block;
	margin: 35px 0px;
	width: 50vw;
	height: 3px;
}

span.divider.right {
	margin-left: 62vw;
	margin-right: 30vw;
}

span.divider.center {
	margin-left: auto;
	margin-right: auto;
}

span.divider.shadow {
	box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

span.divider.red {
	background-color: #DD0000;
}

span.divider.grey {
	background-color: #a1a1a1;
}
/* ------------------------------------ */



/* ----- section background colors ----- */
#talks {
	background-color: #000000;
}

#impacts {
	background-color: #000000;
}
/* ------------------------------------- */

.use-background-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.section-title {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 5vw;
	margin-right: 5vw;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-content {
	color: white;
	font-size: 22px;
	margin-left: 20vw;
	margin-right: 20vw;
	padding-top: 10px;
	padding-bottom: 10px;
}

.quotation {
	color: #a1a1a1;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

/* Turn on a fixed background image for screens safely larger than tablets */
@media screen and (min-device-width: 1280px) {

	.use-background-image {
		background-attachment: fixed;
	}

}

/* tablets */
@media screen and (max-width: 980px) {

	.section-title {
		font-size: 50px;
	}

	.section-content {
		font-size: 28px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.quotation {
		margin-left: 10%;
		margin-right: 10%;
		font-size: 28px;
	}
}

/* smartphones */
@media screen and (max-width: 500px) {

	.section-title {
		font-size: 60px;
	}

	.section-content {
		font-size: 38px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.quotation {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 38px;
	}

}

