/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#background {
	padding-top: 0;
}

#metrics {
	/*height: calc(100vh - 50px);*/
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)), url(../images/greenbank_sunset.jpeg);
}

#milky-way {
	background-color: #000000;
}

#other-work {
	background-color: #000000;
}

/*#dwarf-galaxies {
	background-color: #000000;
}*/

.research-page-header {
	font-size: 88px;
	margin-left: auto;
	margin-right: auto
}

.container {
	position: relative;
	display: flex;
	margin-left: 15vw; /* margins mimic base .section-content class */
	margin-right: 15vw;
	margin-bottom: 5vh;
}

.container.vertical {
	/*position: relative;*/
	display: inline;
}

.container .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.container.vertical .section-content {
	margin-left: 15vw;
	margin-right: 15vw;
}

/*#background .container .jaj-periodic-table {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	height: 40vh;
}*/

.container img {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 25vw;
}

.container img.left {
	padding-right: 50px;
}

.container img.left.mobile-only {
	display: none;
	padding-right: 0;
}

.container img.right {
	padding-left: 50px;
}

img.center {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#research-metrics {
	text-align: center;
}

.counter {
	font-size: 40px;
	color: #FFFFFF;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: #DD0000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 80px;
	border: 2px solid #FFFFFF;
}

.counter-label {
	font-size: 25px;
	color: #DD0000;
	justify-content: center;
	text-align: center;
}

.metrics .container {
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	text-align: center;
	justify-content: center;
}

.metrics .container div {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

/*#research-interests .jaj-periodic-table {
	height: 35%;
	width: 50%;
}

#research-interests .asassn-logo {
	height: 21%;
	width: 30%;
}*/

#vice {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)), url(../images/circuitry.jpeg);
}

#vice #vice-name .vice-acronym {
	text-align: center;
	color: white;
	font-size: 38px;
	margin-left: 10%;
	margin-right: 10%;
}

#vice .vice-logo .container {
	display: grid;
	justify-content: center;
}

#vice .vice-logo .container img {
	height: 142px;
	width: 401px;
}

#vice #install-docs-source {
	display: flex;
	margin-left: 15vw;
	margin-right: 15vw;
	justify-content: center;
}

#vice .vice-links .container {
	display: grid;
	margin-left: 20%;
	margin-right: 20%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
}

#vice .vice-links .container div {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#vice .vice-links .container div figure img {
	height: 100px;
	width: 100px;
}

#vice .vice-links .container div figure figcaption {
	min-width: 200px;
}

#vice .vice-link-label {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

#vice .package-details {
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
}

#vice .package-details h3 {
	text-align: center;
}

#vice .package-details .section-content {
	margin-left: 10%;
	margin-right: 10%;
	/*text-align: center;*/
}

#vice .package-details .column {
	float: left;
	width: 50%;
}

#vice .package-details .column .section-content {
	margin-left: 5%;
	margin-right: 5%;
	/*text-align: justify;*/
}

#vice .package-details .column.border {
	/*border-right: 1px solid #a1a1a1;*/
	border-left: 3px solid #a1a1a1;
}

#vice .package-details .column .teaching-icon {
	text-align: center;
	display: block;
	color: white;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* tablets */
@media screen and (max-width: 980px) {

	.container {
		display: inline;
	}

	.container img {
		padding-bottom: 5vh;
		width: 70vw;
	}

	.container img.left {
		padding-right: 0;
	}

	.container img.left.mobile-only {
		display: block;
		/*padding-right: 0;*/
	}

	.container img.right {
		display: none;
	}

	img.center {
		width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;
		padding-left: 0;
		padding-right: 0;
		border-left: 0;
		border-right: 0;
	}

	.container .section-content {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#vice #vice-name .vice-acronym {
		font-size: 55px;
	}

	#vice #install-docs-source {
		display: grid;
		grid-row-gap: 15px;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		/*margin-left: 15vw;
		margin-right: 15vw;*/
		justify-content: center;
	}

	#vice .package-details {
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
	}

	#vice .package-details .column {
		position: relative;
		display: flex;
		width: 100%;
		/*margin-left: 0;*/
		/*margin-right: 0;*/
		/*padding-right: 0;*/
	}

	#vice .package-details .column.border {
		border-right: none;
		border-left: none;
		border-top: 1px solid #a1a1a1;
		/*border-bottom: 1px solid #a1a1a1;*/
		/*margin-top: 5%;*/
		/*margin-bottom: 5%;*/
	}

	#vice .package-details .column .section-content {
		text-align: justify;
		text-justify: inter-word;
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 8%;
	}

	#vice .package-details .column.border .section-content {
		padding-top: 5%;
		padding-bottom: 5%;
	}


/*	#vice .vice-logo .container img {
		height: 177.5px;
		width: 501.25px;
	}

	#vice .vice-links .container {
		margin-left: 5%;
		margin-right: 5%;
	}

	#vice .vice-links .container div figure figcaption {
		min-width: 100px;
	}

	#vice .vice-link-label {
		font-size: 40px;
	}*/

}

/* smartphones */
@media screen and (max-width: 500px) {

	.container .section-content {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.container img {
		width: 90%;
	}

	img.center {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#vice .vice-links .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	#vice .vice-links .container div figure img {
		height: 200px;
		width: 200px;
	}

	#vice .vice-links .container div figure figcaption {
		min-width: 200px;
	}

	#vice .vice-link-label {
		font-size: 60px;
	}

	#vice .package-details .column .section-content {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}

}

/* narrower laptop displays */
@media screen and (max-width: 1050px) {

	.metrics .container {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
	}

}

/* tablets */
@media screen and (max-width: 980px) {

	.button {
		font-size: 24px;
		padding: 9px 18px;
	}

	.metrics .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.counter {
		font-size: 60px;
		width: 120px;
		height: 120px;
		line-height: 120px;
	}

	.counter-label {
		font-size: 38px;
	}

	#research-interests .jaj-periodic-table {
		height: 63%;
		width: 90%;
	}

	#research-interests .asassn-logo {
		height: 42%;
		width: 60%;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	.button {
		font-size: 32px;
		padding: 12px 24px;
	}

	.metrics .container {
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	.counter {
		font-size: 80px;
		width: 160px;
		height: 160px;
		line-height: 160px;
	}

	.counter-label {
		font-size: 51px;
	}

}

