/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#dwarf-galaxies {
	background-color: #000000;
}

.research-page-header {
	font-size: 88px;
	margin-left: auto;
	margin-right: auto
}

.container {
	position: relative;
	display: flex;
	margin-left: 20vw; /* margins mimic base .section-content class */
	margin-right: 20vw;
}

.container .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#background .container .jaj-periodic-table {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	height: 40vh;
/*	display: block;
	float: left;
	padding-right: 20px;
	height: 35%;
	width: 50%;*/
}

#research-metrics {
	text-align: center;
}

.counter {
	font-size: 40px;
	color: #FFFFFF;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: #DD0000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 80px;
	border: 2px solid #FFFFFF;
}

.counter-label {
	font-size: 25px;
	color: #DD0000;
	justify-content: center;
	text-align: center;
}

.metrics .container {
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	text-align: center;
	justify-content: center;
}

.metrics .container div {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

#research-interests .jaj-periodic-table {
	height: 35%;
	width: 50%;
}

#research-interests .asassn-logo {
	height: 21%;
	width: 30%;
}

#vice {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)), url(../images/circuitry.jpeg);
}

#vice #vice-name .vice-acronym {
	text-align: center;
	color: white;
	font-size: 38px;
	margin-left: 10%;
	margin-right: 10%;
}

#vice .vice-logo .container {
	display: grid;
	justify-content: center;
}

#vice .vice-logo .container img {
	height: 142px;
	width: 401px;
}

#vice .vice-links .container {
	display: grid;
	margin-left: 20%;
	margin-right: 20%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
}

#vice .vice-links .container div {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#vice .vice-links .container div figure img {
	height: 100px;
	width: 100px;
}

#vice .vice-links .container div figure figcaption {
	min-width: 200px;
}

#vice .vice-link-label {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/* tablets */
@media screen and (max-width: 980px) {

	#vice #vice-name .vice-acronym {
		font-size: 55px;
	}

	#vice .vice-logo .container img {
		height: 177.5px;
		width: 501.25px;
	}

	#vice .vice-links .container {
		margin-left: 5%;
		margin-right: 5%;
	}

	#vice .vice-links .container div figure figcaption {
		min-width: 100px;
	}

	#vice .vice-link-label {
		font-size: 40px;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	#vice .vice-links .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	#vice .vice-links .container div figure img {
		height: 200px;
		width: 200px;
	}

	#vice .vice-links .container div figure figcaption {
		min-width: 200px;
	}

	#vice .vice-link-label {
		font-size: 60px;
	}

}

/* narrower laptop displays */
@media screen and (max-width: 1050px) {

	.metrics .container {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
	}

}

/* tablets */
@media screen and (max-width: 980px) {

	.button {
		font-size: 24px;
		padding: 9px 18px;
	}

	.metrics .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.counter {
		font-size: 60px;
		width: 120px;
		height: 120px;
		line-height: 120px;
	}

	.counter-label {
		font-size: 38px;
	}

	#research-interests .jaj-periodic-table {
		height: 63%;
		width: 90%;
	}

	#research-interests .asassn-logo {
		height: 42%;
		width: 60%;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	.button {
		font-size: 32px;
		padding: 12px 24px;
	}

	.metrics .container {
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	.counter {
		font-size: 80px;
		width: 160px;
		height: 160px;
		line-height: 160px;
	}

	.counter-label {
		font-size: 51px;
	}

}

