/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#research-interests .section-content {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

#research-interests .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.8fr 1fr;
	margin-left: 10%;
	margin-right: 10%;
}

#research-interests .container .topic {
	justify-content: center;
	display: inline-block;
	text-align: center;
	align-items: center;
}

#research-interests .container .topic .topic-name {
	font-size: 35px;
}

#research-interests .container .topic .img-container {
	height: 250px;  /* maximum height */
	display: flex;
	position: relative;
	margin: 0 auto;
}

#research-interests .container .topic .img-container img {
	max-height: 250px;
	max-width: 65%;
	width: auto;
	width: auto;
	display: block;
	vertical-align: middle;
}

#research-interests .container .topic .img-container img.casA {
	height: 300px;
	object-position: 0 -20px;
}

#research-interests .container .topic .section-content {
	text-align: justify;
	color: #a1a1a1;
}

#background {
	padding-top: 0;
}

#dwarf-galaxies {
	background-color: #000000;
}

#other-work {
	background-color: #000000;
}

#header-top .research-page-header {
	font-family: "Raleway";
	font-size: 88px;
}

#header-top .ads-link {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-left: 20vw;
	margin-right: 20vw;
	justify-content: center;
}

.container {
	position: relative;
	display: flex;
	margin-left: 15vw; /* margins mimic base .section-content class */
	margin-right: 15vw;
	margin-bottom: 5vh;
}

.container .section-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.container img {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 25vw;
}

.container img.left {
	padding-right: 50px;
}

.container img.left.jajohnson-periodic-table {
	width: 35vw;
}

.container img.left.mobile-only {
	display: none;
	padding-right: 0;
}

.container img.right {
	padding-left: 50px;
}

#vice {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.7)), url(../images/circuitry.jpeg);
}

#vice .vice-logo .container {
	display: grid;
	justify-content: center;
	padding-top: 50px; /* same as section */
}

#vice #vice-name .vice-acronym {
	text-align: center;
	color: white;
	font-size: 38px;
	margin-left: 10%;
	margin-right: 10%;
}

#vice .vice-logo .container img {
	height: 142px;
	width: 401px;
}

#vice #install-docs-source {
	display: flex;
	margin-left: 15vw;
	margin-right: 15vw;
	justify-content: center;
}

#vice .vice-links .container {
	display: grid;
	margin-left: 20%;
	margin-right: 20%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
}

#vice .vice-links .container div {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#vice .vice-links .container div figure img {
	height: 100px;
	width: 100px;
}

#vice .vice-links .container div figure figcaption {
	min-width: 200px;
}

#vice .vice-link-label {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

#vice .package-details {
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
}

#vice .package-details h3 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

#vice .package-details .section-content {
	margin-left: 10%;
	margin-right: 10%;
}

#vice .package-details .column {
	float: left;
	width: 50%;
}

#vice .package-details .column .section-content {
	margin-left: 5%;
	margin-right: 5%;
}

#vice .package-details .column.border {
	border-left: 3px solid #a1a1a1;
}

#vice .package-details .column .teaching-icon {
	text-align: center;
	display: block;
	color: white;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* tablets */
@media screen and (max-width: 980px) {

	#research-interests .container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.8fr 0.8fr 1fr 1fr;
	}

	#research-interests .container .topic .topic-name {
		font-size: 40px;
	}

	#header-top .ads-link {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.container {
		display: inline;
	}

	.container img {
		padding-bottom: 5vh;
		width: 70vw;
	}

	.container img.left {
		padding-right: 0;
	}

	.container img.left.mobile-only {
		display: block;
	}

	.container img.left.jajohnson-periodic-table {
		width: 70vw;
	}

	.container img.right {
		display: none;
	}

	.container .section-content {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#vice #vice-name .vice-acronym {
		font-size: 55px;
	}

	#vice #install-docs-source {
		display: grid;
		grid-row-gap: 15px;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		justify-content: center;
	}

	#vice .package-details {
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
	}

	#vice .package-details h3 {
		font-size: 40px;
	}

	#vice .package-details .column {
		position: relative;
		display: flex;
		width: 100%;
	}

	#vice .package-details .column.border {
		border-right: none;
		border-left: none;
		border-top: 1px solid #a1a1a1;
	}

	#vice .package-details .column .section-content {
		text-align: justify;
		text-justify: inter-word;
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 8%;
	}

	#vice .package-details .column.border .section-content {
		padding-top: 5%;
		padding-bottom: 5%;
	}

}

/* smartphones */
@media screen and (max-width: 500px) {

	#research-interests .container {
		margin-left: 0;
		margin-right: 0;
	}

	#research-interests .container .topic .topic-name {
		font-size: 50px;
	}

	#research-interests .container .topic .section-content {
		text-align: left;
		margin-left: 5%;
		margin-right: 5%;
	}

	#research-interests .container .topic .img-container {
		height: 500px;
	}

	#research-interests .container .topic .img-container img {
		max-height: 500px;
		max-width: 500px;
	}

	#header-top .ads-link {
		margin-left: 0;
		margin-right: 0;
	}

	.container .section-content {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	.container img {
		width: 90%;
	}

	.container img.left.jajohnson-periodic-table {
		width: 90%;
	}

	#vice .vice-links .container {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	#vice .vice-links .container div figure img {
		height: 200px;
		width: 200px;
	}

	#vice .vice-links .container div figure figcaption {
		min-width: 200px;
	}

	#vice .vice-link-label {
		font-size: 60px;
	}

	#vice .package-details h3 {
		font-size: 50px;
	}

	#vice .package-details .column .section-content {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}

}

