/*
 * This style sheet doesn't require any adaptive response, because this section
 * of the website is just a flex display showing figures and captions within
 * their own div containers. It renders fine on all screens.
 */

.slides .container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
}

.slides .container .bottom-border {
	border-bottom: 2px solid #a1a1a1;
}

.slides .container figure {
	display: table;
	padding-top: 20px;
	padding-bottom: 10px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.slides .container figure a img {
	width: 600px;
	height: 338px;
}

.slides .container figure figcaption {
	padding-bottom: 20px;
	display: table-caption;
	caption-side: bottom;
	color: white;
	font-size: 22px;
	text-align: center;
}

