/*
 * Simple standard for distinguishing between monitors, tablets, and
 * smartphones:
 * 
 * Monitors - width of 980 CSS pixels and up
 * tablets - width of between 500 and 980 CSS pixels
 * smartphones - width of less than 500 CSS pixels
 *
 * This style sheet implements these simple breakpoints for responsive design.
 */

#teaching .teaching-category {
	color: #a1a1a1;
	font-family: "Raleway";
	font-size: 40px;
	text-align: center;
}

#teaching .bootcamp {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

#teaching .source-button {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

#teaching .bootcamp i {
	color: #a1a1a1;
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 50px;
	display: inline;
}

#teaching .bootcamp .section-content {
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#teaching .courses {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: auto;
	grid-row-gap: 0;
	margin-left: 10vw;
	margin-right: 10vw;
	justify-content: center;
}

#teaching .courses .item {
	display: inline;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#teaching .courses .item.left {
	/*border-left: 2px solid #a1a1a1;*/
	text-align: left;
}

#teaching .courses .item.right {
	/*border-right: 2px solid #a1a1a1;*/
	text-align: right;
}

#teaching .courses .item.center {
	border-left: 2px solid #a1a1a1;
	border-right: 2px solid #a1a1a1;
	text-align: center;
}

#teaching .courses .item i {
	color: #DD0000;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#teaching .courses .item .title {
	font-family: "Raleway";
	font-size: 30px;
	padding-bottom: 10px;
}

#teaching .courses .item.left .title {
	text-align: left;
}

#teaching .courses .item.right .title {
	text-align: right;
}

#teaching .courses .item.center .title {
	text-align: center;
}

#teaching .courses .item .section-content {
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: #a1a1a1;
	font-size: 20px;
}

#teaching .courses .item.left .section-content {
	text-align: left;
}

#teaching .courses .item.right .section-content {
	text-align: right;
}

#teaching .courses .item.center .section-content {
	text-align: center;
}


/* tablets */
@media screen and (max-width: 980px) {

	#teaching .bootcamp {
		display: inline-block;
		margin-left: 10%;
		margin-right: 10%;
	}

	#teaching .bootcamp i {
		display: grid;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}

	#teaching .courses {
		grid-template-columns: 1fr;
		margin-left: 5%;
		margin-right: 5%;
	}

	#teaching .courses .item {
		border-bottom: 2px solid #a1a1a1;
	}

	#teaching .courses .item.left {
		text-align: center;
	}

	#teaching .courses .item.right {
		text-align: center;
	}

	#teaching .courses .item.center {
		border-left: none;
		border-right: none;
	}

	#teaching .courses .item.last {
		border-bottom: none;
	}

	#teaching .courses .item .title {
		font-size: 35px;
	}

	#teaching .courses .item.left .title {
		text-align: center;
	}

	#teaching .courses .item.right .title {
		text-align: center;
	}

	#teaching .courses .item.center .title {
		text-align: center;
	}

	#teaching .courses .item .section-content {
		font-size: 25px;
	}

	#teaching .courses .item.left .section-content {
		text-align: center;
	}

	#teaching .courses .item.right .section-content {
		text-align: center;
	}

	#teaching .courses .item.center .section-content {
		text-align: center;
	}

}


/* smartphones */
@media screen and (max-width: 500px) {

	#teaching .bootcamp {
		margin-left: 5%;
		margin-right: 5%;
	}

}

